<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--style-->
    <link href="../static/css/stylesheet.css" th:href="@{/css/stylesheet.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
    <link rel="icon" href="../static/images/logo.png" th:href="@{/images/alliance-logo.png}">
    <title>Admin</title>
</head>
<body>
<!--Navbar-->
<nav class="navbar">
    <img class="logo" th:src="@{/images/alliance-logo2.jpg}">
    <div class="profile">
        <img class="profile-image" th:src="@{/images/userimg.png}"/>
        <a th:href="" style="color: black; text-decoration: none;" class="profile-name" th:text="${session.user.firstName} + ' ' + ${session.user.lastName}"></a>
        <a th:href="@{/}"><span style="color: black" class="fas fa-sign-out-alt"></span></a>
    </div>
</nav>
<!--Sidebar-->
<input type="checkbox" id="sidebartoggle">
<label class="side-toggle" for="sidebartoggle">
        <span class="fas fa-bars"></span>
</label>

<div class="sidebar" style="background-image: url('sidebarbg.png');">
    <div class="sidebar-menu">
        <span class="fas fa-home"></span><a th:href="@{/claimsList/}">Claims List</a>
    </div>
    <div class="sidebar-menu">
        <span class="fas fa-user"></span><a th:href="@{/employeeList/}">Employee List</a>
    </div>
    <div class="sidebar-menu">
        <span class="fas fa-bell"></span><a th:href="@{/adminProfile/}">Admin Profile</a>
    </div>
</div>
<!--Main-->
<main>
    <h2>Employee List</h2>
    <div class="container">
        <!--2 cards-->
        <div class="card box">
            <div class="tabs">
                <input type="radio" class="tabs__radio" name="tabs-example" id="emp-tab1" checked>
                <label for="emp-tab1" class="tabs__label">All Employee</label>
                <div class="tabs__content">
                    <div class="list-container">
                        <div class="list-card">
                            <input id="myInput" type="search" class="light-table-filter" data-table="table-info" placeholder="Filter/Search"><span class="fas fa-search"></span>
                            <a href="adduser.html"><button class="addbtn">Add <span class="fas fa-user"></span></button></a>
                            <div class="table-card detail">
                                <div class="detail-header">
                                    <table class="table-info table">
                                        <tr>
                                            <th>Employee ID</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Department</th>
                                            <th>UserStatus</th>
                                            <th>Options</th>
                                        </tr>
                                        <tr th:each="employee : ${listOfEmployees}" th:if="${employee != session.Employee}">
                                            <td th:text="${employee.id}"></td>
                                            <td th:text="${employee.firstName +' '+employee.lastName}"></td>
                                            <td th:text="${employee.email}"></td>
                                            <td th:text="${employee.department}"></td>
                                            <td th:text="${employee.userStatus}"></td>
                                            <td>
                                                <a id="deleteUser" th:attr="id=${employee.id}"><span style="color: black" class="fas fa-trash"></span></a>
                                                <a id="EditUser" th:attr="id=${employee.id}"><span style="color: black" class="fas fa-pencil"></span></a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="radio" class="tabs__radio" name="tabs-example" id="user-tab2" checked>
                <label for="user-tab2" class="tabs__label">Technical Team</label>
                <div class="tabs__content">
                    <div class="list-container">
                        <div class="list-card">
                            <div class="table-card detail">
                                <div class="detail-header">
                                    <table>
                                        <tr>
                                            <th>Employee ID</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Contact No.</th>
                                            <th>Department</th>
                                            <th>Role</th>
                                            <th>Options</th>
                                        </tr>
                                        <tr th:each="employee : ${listEmployees}">
                                            <td th:text="${employee.fName}"></td>
                                            <td th:text="${employee.lName}"></td>
                                            <td th:text="${employee.email}"></td>
                                            <td th:text="${employee.contact}"></td>
                                            <td th:text="${employee.department}"></td>
                                            <td th:text="${employee.role}"></td>
                                            <td><a href=""><button class="button">View <span class="fas fa-eye"></span></button></a></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="radio" class="tabs__radio" name="tabs-example" id="user-tab3" checked>
                <label for="user-tab3" class="tabs__label">Sales Team</label>
                <div class="tabs__content">
                    <div class="list-container">
                        <div class="list-card">
                            <div class="table-card detail">
                                <div class="detail-header">
                                    <table>
                                        <tr>
                                            <th>Employee ID</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Contact No.</th>
                                            <th>Department</th>
                                            <th>Role</th>
                                            <th>Options</th>
                                        </tr>
                                        <tr th:each="employee : ${listEmployees}">
                                            <td th:text="${employee.fName}"></td>
                                            <td th:text="${employee.lName}"></td>
                                            <td th:text="${employee.email}"></td>
                                            <td th:text="${employee.contact}"></td>
                                            <td th:text="${employee.department}"></td>
                                            <td th:text="${employee.role}"></td>
                                            <td><a href=""><button class="button">View <span class="fas fa-eye"></span></button></a></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
<script  src="function.js"></script>
</html>