<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--style-->
    <link href="../static/css/stylesheet.css" th:href="@{/css/stylesheet.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
    <link rel="icon" href="../static/images/logo.png" th:href="@{/images/alliance-logo.png}">

    <title>Document</title>
</head>
<body>
<div class="login-page">
    <div class="form">
        <img class="logo" th:src="@{/images/alliance-logo2.jpg}">
        <form th:action="@{/employee/homepage}" class="login-form" method="POST">
            <p class="message">Login as admin</p>
            <input id="email" th:name="email" type="text" placeholder="username"/>
            <input id="password" th:name="password" type="password" placeholder="password"/>
            <button>login</button>
        </form>
    </div>
</div>
</body>
</html>